.footer-items img{
    width: 9em;
    padding-right: 100em;
}

.footer-items nav{
    margin-left: 20px;
}

.footer-items nav ul{
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-top: 10px;
    padding-right: 9em;
}

.footer-items nav ul li{
    list-style: none;
}

