section{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

img{
    width: 20rem;
    padding-left: 10px;
}

img:nth-child(1),
img:nth-child(3),
img:nth-child(4){
    width: 4em;
}