html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body, ul, li{
    display: flex;
}

.gallery ul{
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery ul li{
    width: auto;
    border: 5px solid black;
    box-shadow: 0 0 5px 5px grey;
    padding: 5px, 16px;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: contain;
}