body{
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

/*Header*/

.home-links{
    padding-left: 120px;
    padding-top: 10px;
}

.home-links ul{
    display: flex;
    list-style-type: none;
}

.home-links ul li{
    font-size: 20px;
    padding-right: 30px;
}

#login{
    padding-left: 80rem;
}

.home-links ul li button{
    width: 80px;
    height: 40px;
}

/*first part of main*/

.home{
    background-color: #ade2df;
    padding-top: 50px;
    padding-bottom: 100px;
}

.home h1{
    font-size: 70px;
    padding-left: 400px;
}

.home p{
    font-size: 20px;
    padding-left: 740px;
}

.home-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.home-buttons button{
    background-color: #000000;
    color: white;
    font-size: 18px;
    width: 250px;
    height: 60px;
}

/*Main stats*/

.home-stats{
    padding: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    /*justify-content: space-evenly;*/
    gap: 150px;
    padding-bottom: 100px;
}

.stat1 p, .stat2 p, .stat3 p{
    width: 300px;
}

/*phone*/

.centered-contrnt{
    background-color: #ade2df;
    padding-bottom: 200px;
}

.article-text{
    display: inline-block;
    width: 550px;
    padding-left: 100px;
    padding-top: 50px;
}

img{
    float: left;
    padding-left: 600px;
    border-right: 2px dashed #98b8b6;
}

#title{
    font-size: 45px;
 }

.article-text p {
    font-size: 20px;
}

.bold{
    font-weight: bold;
}

/*small text component*/

.small-text button{
    margin-left: 100px;
    margin-top: 50px;
    height: 35px;
    width: 150px;
    font-size: 20px;
}

.small-text h1{
    padding-top: 15px;
    text-align: center;
    font-size: 50px;
}

/*prices*/

.prices{
    display: flex;
    padding-left: 450px;
    gap: 20px;
}

.prices{
    width: 300px;
}

#name{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.prices p{
    font-size: 18px;
}

h1{
    padding-bottom: 40px;
}

.prices button{
    font-size: 15px;
    width: 300px;
    height: 50px;
}

.expand{
    background-color: #ade2df;
    width: 700px;
}

.expand .name{
    text-align: center;
}

.expand article p{
    font-size: 25px;
}

.expand button{
    background-color: black;
    color: white;
    width: 600px;
    height: 70px;
    margin-top: 120px;
}


.expand article, .expand p, .expand button{
    padding-left: 10px;
}